# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Uploads and temporary files
uploads/
debug.log
cert_*.png

# Mac OS
.DS_Store

# Secrets and local files
firebase_credentials.json
stats.json
